
body {
  /* setter alt i body til center
  text-align: center; */
  background-color: skyblue;
}

/* Add a black background color to the top navigation */
.topNav {
  background-color: #000080;
  overflow: hidden;

}

/* Style the links inside the navigation bar */
.topNav a {
  padding: inherit;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

/* Change the color of links on hover */
.topNav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topNav a.active {
  background-color: #4CAF50;
  color: white;
}
.topNav a.overskrift{
  float: left;
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  background-color: #4169E1;
  color: white;
}

.a {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    margin: 12%;
    width: 10px;
    background-color: #ffcccc;
    min-width: 50px;
    max-width: 20px;
    border-radius: 25px;
    padding: 20px;
    height: 150px;
}

#countdown1 {
  right: 5%;
  position: fixed;
  top: inherit;
  text-align: center;
  background: lightblue;
  border: 1px solid #999;
  padding: 10px;
  box-shadow: 0 0 5px 3px #ccc;

}
#countdown2 {
  position: fixed;
  left: 80%;
  top: inherit;
  text-align: center;
  background: white;
  padding: 10px;
  margin-right: inherit;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  left: 33.33%;
  top: 20%;
  position: fixed;
  margin: auto;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}